
#hero {
  display: flex;
  flex-flow: column nowrap;
}



.profilePic{
  border-radius: 50%;
}




.greeting{
  font-size: 72px;
  background-color: #6e6e80;
  background: -webkit-linear-gradient(45deg, #6e6e80, #48486e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}